<label for="name">Name</label>
<input type="text" name="name" value="<%= author.name %> ">
<br><br>
<label for="genre">Genre</label>
<input type="text" name="genre" value="<%= author.genre %> ">
<br><br>